@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	width: 100%;
	height: 100vh;
	overflow: hidden;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}